
/** Example TickTack script */


var cutoffVal = 500     // hz
var delta     = 100     // hz

func getAndUpdateCutoff()
{
    cutoffVal += delta

    if (cutoffVal <= 200 || cutoffVal >= 1000)
        delta *= -1

    return cutoffVal
}

var count = 0

outlet cutoff -> '/cutoff'
outlet note   -> '/note'

'/tick' -> ()
{
    [|...] cutoff (getAndUpdateCutoff())
    [|.] note (count += 1)
}
